<!DOCTYPE html>
<html>
<head>
	<title>Form</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="stylesheet" type="text/css" href="~/Content/ss.css">

	<script src="~/Scripts/jquery.min.js"></script>
	<script src="~/Scripts/analyse.js"></script>
</head>
<body>
	<div class="block-container">
		<div class="block-main-left">
			<p class="block-title">Analysis</p>
			<form>
				<textarea id="text" rows="8"></textarea>
				<div class="block-emotions-container">
					<div class="block-emotions">
						<div class="block-emotion" id="joy">
							<span>Joy:</span>
							<span class="value">0</span>
						</div>
						<div class="block-emotion" id="trust">
							<span>Trust:</span>
							<span class="value">0</span>
						</div>
						<div class="block-emotion" id="fear">
							<span>Fear:</span>
							<span class="value">0</span>
						</div>
						<div class="block-emotion" id="anticipation">
							<span>Anticipation:</span>
							<span class="value">0</span>
						</div>
					</div>
					<div class="block-emotions">
						<div class="block-emotion" id="surprise">
							<span>Surprise:</span>
							<span class="value">0</span>
						</div>
						<div class="block-emotion" id="sadness">
							<span>Sadness:</span>
							<span class="value">0</span>
						</div>
						<div class="block-emotion" id="disgust">
							<span>Disgust:</span>
							<span class="value">0</span>
						</div>
						<div class="block-emotion" id="anger">
							<span>Anger:</span>
							<span class="value">0</span>
						</div>
					</div>
				</div>
				<div class="block-bottom" id="sbm">
					<button type="button">Analyse</button>
				</div>
			</form>
		</div>
	</div>
</body>
</html>