<div class="starter-template">
	<div class="col-lg-6">
		<div class="body-content">
			<textarea class="form-control" required></textarea>
			<div id="results">
				<label>1</label>
			</div>
			<div>
				<label>1</label>
			</div>
			<div>
				<label>1</label>
			</div>
			<div>
				<label>1</label>
			</div>
			<div>
				<label>1</label>
			</div>
			<div>
				<label>1</label>
			</div>
			<input id="analyze" class="btn btn-primary" type="submit" value="Аналлизировать" />
		</div>
	</div>
	<div class="col-lg-6">
		<div class="body-content">
			<textarea class="form-control" required></textarea>
			<div id="results">
				<label>1</label>
			</div>
			<div>
				<label>1</label>
			</div>
			<div>
				<label>1</label>
			</div>
			<div>
				<label>1</label>
			</div>
			<div>
				<label>1</label>
			</div>
			<div>
				<label>1</label>
			</div>
			<input id="analyze" class="btn btn-primary" type="submit" value="Аналлизировать" />
		</div>
	</div>
</div>
